# Load Boston Housing Dataset
https://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_california_housing.html

In [ ]:
from sklearn.datasets import load_boston
house_data = load_boston()

In [4]:
# How many houses are there (N)
print(dir(house_data))
# print(house_data["DESCR"])



N = len(house_data["data"])
print(f"Number of houses = {N}")

['DESCR', 'data', 'feature_names', 'filename', 'target']
['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']
Number of houses = 506

In [5]:
# A house has how many attributes(or features or signals or dimensions or inputs or x)
n = len(house_data["feature_names"])
print(f"Number of house attributes = {n}")

Number of house attributes = 13

In [6]:
# Whats the Median value of the first house (target or label or output y)
# TBD
print(house_data["target"][0])

24.0

In [8]:
# Whats the value of feature RM (average number of rooms per dwelling) for the last house
# TBD
print(house_data["data"][-1][5])
print(house_data["data"][505])

6.03
[4.741e-02 0.000e+00 1.193e+01 0.000e+00 5.730e-01 6.030e+00 8.080e+01
 2.505e+00 1.000e+00 2.730e+02 2.100e+01 3.969e+02 7.880e+00]


$$X^{7} $$
#### 8th house all features

In [9]:
print(house_data["data"][7])

[1.4455e-01 1.2500e+01 7.8700e+00 0.0000e+00 5.2400e-01 6.1720e+00
 9.6100e+01 5.9505e+00 5.0000e+00 3.1100e+02 1.5200e+01 3.9690e+02
 1.9150e+01]

$$
X_{2}^{7}
$$
#### 8th house 3rd feature
(INDUS proportion of non-retail business acres per town)

In [10]:
print(house_data["data"][7][2])

7.87

$$
X_{4}
$$
#### All houses 5th feature 
(NOX nitric oxides concentration)

In [14]:
print(house_data["data"][:,4])
print(len(house_data["data"][:,4]))

[0.538  0.469  0.469  0.458  0.458  0.458  0.524  0.524  0.524  0.524
 0.524  0.524  0.524  0.538  0.538  0.538  0.538  0.538  0.538  0.538
 0.538  0.538  0.538  0.538  0.538  0.538  0.538  0.538  0.538  0.538
 0.538  0.538  0.538  0.538  0.538  0.499  0.499  0.499  0.499  0.428
 0.428  0.448  0.448  0.448  0.448  0.448  0.448  0.448  0.448  0.448
 0.439  0.439  0.439  0.439  0.41   0.403  0.41   0.411  0.453  0.453
 0.453  0.453  0.453  0.453  0.4161 0.398  0.398  0.409  0.409  0.409
 0.413  0.413  0.413  0.413  0.437  0.437  0.437  0.437  0.437  0.437
 0.426  0.426  0.426  0.426  0.449  0.449  0.449  0.449  0.489  0.489
 0.489  0.489  0.464  0.464  0.464  0.445  0.445  0.445  0.445  0.445
 0.52   0.52   0.52   0.52   0.52   0.52   0.52   0.52   0.52   0.52
 0.52   0.547  0.547  0.547  0.547  0.547  0.547  0.547  0.547  0.547
 0.581  0.581  0.581  0.581  0.581  0.581  0.581  0.624  0.624  0.624
 0.624  0.624  0.624  0.624  0.624  0.624  0.624  0.624  0.624  0.624
 0.624  0.624  0.871  0.871  0.871  0.871  0.871  0.871  0.871  0.871
 0.871  0.871  0.871  0.871  0.871  0.871  0.871  0.605  0.605  0.871
 0.605  0.605  0.605  0.605  0.605  0.605  0.605  0.605  0.605  0.605
 0.605  0.605  0.51   0.51   0.51   0.51   0.51   0.51   0.51   0.488
 0.488  0.488  0.488  0.488  0.488  0.488  0.488  0.437  0.437  0.437
 0.437  0.437  0.437  0.401  0.401  0.422  0.404  0.404  0.404  0.403
 0.403  0.415  0.415  0.4161 0.4161 0.489  0.489  0.489  0.489  0.489
 0.489  0.489  0.489  0.489  0.489  0.489  0.55   0.55   0.55   0.55
 0.507  0.507  0.507  0.507  0.504  0.504  0.504  0.504  0.504  0.504
 0.504  0.504  0.507  0.507  0.507  0.507  0.507  0.507  0.428  0.428
 0.428  0.428  0.428  0.428  0.431  0.431  0.431  0.431  0.431  0.431
 0.431  0.431  0.431  0.431  0.392  0.392  0.394  0.647  0.647  0.647
 0.647  0.647  0.647  0.647  0.647  0.647  0.647  0.575  0.575  0.464
 0.464  0.464  0.464  0.464  0.447  0.447  0.447  0.447  0.447  0.4429
 0.4429 0.4429 0.4429 0.401  0.4    0.389  0.385  0.405  0.405  0.405
 0.411  0.411  0.411  0.437  0.437  0.437  0.437  0.437  0.4    0.4
 0.4    0.433  0.433  0.433  0.472  0.472  0.472  0.472  0.544  0.544
 0.544  0.544  0.544  0.544  0.544  0.544  0.544  0.544  0.544  0.544
 0.493  0.493  0.493  0.493  0.493  0.493  0.493  0.493  0.46   0.46
 0.46   0.4379 0.4379 0.515  0.515  0.515  0.515  0.515  0.515  0.515
 0.515  0.442  0.518  0.484  0.484  0.442  0.442  0.429  0.435  0.429
 0.429  0.411  0.411  0.41   0.413  0.413  0.77   0.77   0.77   0.77
 0.77   0.77   0.77   0.77   0.718  0.718  0.718  0.631  0.631  0.631
 0.631  0.631  0.668  0.668  0.668  0.671  0.671  0.671  0.671  0.671
 0.671  0.671  0.7    0.7    0.7    0.7    0.7    0.7    0.7    0.7
 0.7    0.7    0.7    0.693  0.693  0.693  0.693  0.693  0.693  0.693
 0.693  0.693  0.693  0.693  0.693  0.693  0.659  0.659  0.597  0.597
 0.597  0.597  0.597  0.597  0.693  0.679  0.679  0.679  0.679  0.718
 0.718  0.718  0.614  0.614  0.584  0.679  0.584  0.679  0.679  0.679
 0.584  0.584  0.584  0.713  0.713  0.74   0.74   0.74   0.74   0.74
 0.74   0.74   0.74   0.74   0.74   0.74   0.74   0.74   0.713  0.713
 0.713  0.713  0.713  0.713  0.713  0.713  0.713  0.713  0.713  0.713
 0.713  0.713  0.713  0.713  0.655  0.655  0.655  0.584  0.58   0.58
 0.58   0.532  0.58   0.614  0.584  0.584  0.614  0.614  0.614  0.614
 0.532  0.532  0.532  0.532  0.583  0.583  0.583  0.583  0.609  0.609
 0.609  0.609  0.609  0.585  0.585  0.585  0.585  0.585  0.585  0.585
 0.585  0.573  0.573  0.573  0.573  0.573 ]
506

$$
Y^{4}
$$
#### Target value for 5th house

In [15]:
print(house_data["target"][4])

36.2

Small *x* and *y* are used to represent a *feature* and *target* of a single house
#### Which among the following could be valid representation?
$$
x^{4}\:, \: x_{2}\:,\:y^{4}\:,\:y_{2}
$$

In [ ]:
#x

$$
x_{2} , y_{2}
$$ are valid representations